<main>
  <div class="container mt-4 mb-4">
    <div class="row mb-3 text-center mt-3">
      <input [(ngModel)]="jobTitleFilter" class="form-control" (keyup)="filterTitles()"
        placeholder="Search Jobs by Job Title or Job Profile..." />
    </div>

    <div class="row mb-3 text-center">
      <h3>Jobs List</h3>
    </div>

    <div class="row mb-3 text-center headerdiv">
      <div class="col-2 themed-grid-col">Title</div>
      <div class="col-3 themed-grid-col">Description</div>
      <div class="col-2 themed-grid-col">Salary</div>
      <div class="col-2 themed-grid-col">Job Profile</div>
      <div class="col-3 themed-grid-col">Actions</div>
    </div>

    <div class="row mb-3 text-center coldiv" *ngFor="let job of jobsList">
      <div class="col-2 themed-grid-col truncate">{{ job.title }}</div>
      <div class="col-3 themed-grid-col truncate">{{ job.description }}</div>
      <div class="col-2 themed-grid-col truncate">{{ job.salary }}</div>
      <div class="col-2 themed-grid-col truncate">
        {{ job.job_profile }}
      </div>
      <div class="col-3 themed-grid-col bigactdiv">
        <div class="wfit">
          <button class="btn btn-outline-success mr10" (click)="detail_job(job.id)">
            Open
          </button>
        </div>
        <div class="wfit" *ngIf="authService.authedUser.role == 'recruiter'">
          <button class="btn btn-outline-info mr10" (click)="update_job(job.id)">
            Update
          </button>
        </div>
        <div class="wfit" *ngIf="authService.authedUser.role == 'recruiter'">
          <button class="btn btn-outline-danger mr10" (click)="delete_job(job.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
