.jobprofile {
  border: 1px solid #6a6a6a;
  width: fit-content;
  border-radius: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  padding-bottom: 3px;
  font-size: 15px;
  color: #6a6a6a;
  font-weight: 600;
  background-color: #f8f8f8;
  margin-bottom: 30px;
  display: block;
}

.jobdesc {
  font-size: 17px;
  color: #121212;
}

.salary {
  font-size: 16px;
  font-weight: 500;
}
