<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Update: {{ job.title }}</h2>
    </div>

    <form [formGroup]="update_form" (ngSubmit)="update_job()" novalidate>
      <div class="row g-5 w100">
        <div class="col-md-7 col-lg-8 m-auto pt-3 pb-5 w70">
          <h4 class="mb-3">Job Information</h4>
          <div class="row g-3">
            <div class="col-12">
              <label for="address" class="form-label">Title</label>
              <input type="text" class="form-control" formControlName="title" name="title" [(ngModel)]="job.title"
                required />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-12">
              <label for="address" class="form-label">Description</label>
              <textarea type="text" class="form-control" formControlName="description" name="description"
                [(ngModel)]="job.description" rows="6" required></textarea>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-12">
              <label for="address" class="form-label">Salary</label>
              <input type="text" class="form-control" formControlName="salary" name="salary" [(ngModel)]="job.salary"
                required />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-12">
              <label for="address" class="form-label">Job Profile</label>
              <input type="text" class="form-control" formControlName="job_profile" name="job_profile"
                [(ngModel)]="job.job_profile" required />
            </div>
          </div>
          <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">
            Update Job
          </button>
          <div class="d-flex mt-4">
            <div class="mb-5">
              <span class="btn btn-outline-secondary btn-lg px-4" (click)="goBack()">Go Back</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>
