<div class="header-banner-nane">
  <h5 class="text-center">JobPortal | LHIND</h5>
</div>
<header class="site-header sticky-top py-1" *ngIf="authService.is_signed_in">
  <nav
    class="container d-flex flex-column flex-md-row justify-content-between text-center"
  >
    <span class="py-2 d-md-inline-block" routerLink="/main">Main</span>
    <span
      class="py-2 d-md-inline-block"
      *ngIf="authService.authedUser.role == 'seeker'"
      routerLink="/job/offers"
      >Job Offers</span
    >
    <span
      class="py-2 d-md-inline-block"
      *ngIf="authService.authedUser.role == 'recruiter'"
      routerLink="/job/list"
      >Jobs List</span
    >
    <span
      class="py-2 d-md-inline-block"
      *ngIf="authService.authedUser.role == 'recruiter'"
      routerLink="/job/create"
      >Create Job</span
    >
    <span class="py-2 d-md-inline-block" (click)="authService.sign_out()"
      >Sign Out</span
    >
  </nav>
</header>

<router-outlet></router-outlet>

<div class="footer-main-div">
  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4"
    >
      <div class="col-md-4 d-flex align-items-center footer-width-full">
        <span class="mb-3 mb-md-0 span-white"
          >© 2022 Gerald Nika - Job Application Project for Lufthansa Industry
          Solutions</span
        >
      </div>
    </footer>
  </div>
</div>
